/* body {
    background: linear-gradient(to left, #6b87b2, #0c254a);
}

.home-title {
    margin-top: 250px;
    font-size: 15em;
    color: #177E89;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: .72em;
    outline: none;
    animation: animate 5s linear infinite;
    animation-direction: alternate;
}

@keyframes animate 
{
    0%,18%,20%,50.1%,60%, 65%, 80%, 90.1%, 92% 
    {
        color: #abf5c1;
        box-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 100%
    {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px #abf5c1,
        0 0 20px #abf5c1,
        0 0 40px #abf5c1,
        0 0 80px #abf5c1,
        0 0 160px #abf5c1;
    }
} */