@import url('https://fonts.googleapis.com/css?family=BioRhyme');

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-family: 'BioRhyme', serif;
  margin-top: 250px;
  font-size: 15em;
  color: #e1dd0f;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: .72em;
  outline: none;
  animation: animate 5s linear infinite;
  animation-direction: alternate;
  text-align: center;
}

@keyframes animate 
{
  0%,18%,20%,50.1%,60%, 65%, 80%, 90.1%, 92% 
  {
      color: #abf5c1;
      box-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 100%
  {
      color: rgb(255, 255, 255);
      text-shadow: 0 0 10px #abf5c1,
      0 0 20px #abf5c1,
      0 0 40px #abf5c1,
      0 0 80px #abf5c1,
      0 0 160px #abf5c1;
  }
}

body {
  font-family: 'BioRhyme', serif;
  background: #76b852;
  justify-content: center;
  align-items: center;
}

.form-container {
  font-family: 'BioRhyme', serif;
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin-top: 15%;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;

}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'BioRhyme', serif;

}
.edit-button {
  background: #5DA890;
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'BioRhyme', serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}


.logoutButtonDiv {
  float: right;
}

.create-shake-button {
  font-family: 'BioRhyme', serif;
}


.logoutButton, .login-button, .signup-button {
  font-size:15px;
  font-family:Trebuchet MS;
  width:80px;
  height:30px;
  border-width:1px;
  color:#fff;
  border-color:#4e6096;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  text-shadow: 0px 1px 0px #283966;
  background:linear-gradient(rgba(14, 70, 14, 1), rgba(133, 235, 30, 1));
}

.logoutButton:hover, .login-button:hover, .signup-button:hover {
  background: linear-gradient(rgba(133, 235, 30, 1), rgba(14, 70, 14, 1));
}



.navbarDiv {
  padding: 15px;
  text-align: center;
}

.card-img{
  max-height: 200px;
}

.card-parent {
  display: flex;
  margin: 3%;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-child {
  flex-direction: column;
  max-width: 25%;
  margin: 3%;
}

.edit-review {
  min-width: 50px;
}

.delete-review {
  min-width: 50px;
}

.recipe-card {
  margin: 3%;
}

.ingredient-display {
  margin: 1%;
}

.ingredient-display-parent {
  flex-direction: column;
  display: flex;
  border: 2px solid #057766;
}

.grandparent {
  flex-direction: row;
  display: flex;
}

.ingredient-label {
  padding-bottom: 20px;
  margin-left: 20px;
  font-size: 30px;
}

.category-name {
  margin-left: 20px;
}

.login-form {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;

}

.parent-login-form {
  text-align: center;

}

.form-field {
  font-family: 'BioRhyme', serif;
  
}

.nav-button {
  font-size:20px;
  font-family:Trebuchet MS;
  width:200px;
  height:200px;
  border-width:1px;
  color:#fff;
  border-color:#4e6096;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  text-shadow: 0px 1px 0px #283966;
  background:linear-gradient(rgba(14, 70, 14, 1), rgba(133, 235, 30, 1));
}
    
.nav-button:hover {
  background: linear-gradient(rgba(133, 235, 30, 1), rgba(14, 70, 14, 1));
}